<div class="section">
  <div class="main1">
    <div class="main-top1">
      <h2>Create a New Blog</h2>

      
    </div>
    <div class="main-skills1">
      <div class="card1">
        <i class="fas fa-kiwi-bird h3"></i>
        <h3>Add a new blog</h3>
        <form class="new-blog-form">

          <label for="blog-title">Title</label>

          <input class="textarea1" type="text" id="blog-title" />

          <label for="textarea">Content</label>

          <input class="textarea" type="text" id="blog-body" />

          <button class="startButton" type="submit">Create Blog</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/addBlog.js"></script>
<script src="/helpers.js"></script>